<h1>講義一覧</h1>

<div>講義名</div>
<% @lecture.each do |f| %>
  <%= link_to f.lecture_title, lecture_lecture_details_path(f.id), method: :get %>
  <%= link_to '編集', edit_lecture_path(f.id), method: :get %>
  <%= link_to '削除', lecture_path(f.id), method: :delete %>
  <br>
<% end %>

<%= link_to 'トップページ', professors_path, metod: :get %>
