<div class="top-page">
<div class="top-page-name">大学 Life</div>
  <div class="">
  <%= link_to "学生の方",  new_user_registration_path, class: "top-page-list" %>
  <%= link_to "教授の方",  new_professor_registration_path, class: "top-page-list" %>
  </div>
</div>