
<div class="container-fluid">
<header class="header-3">
  <div class="header-inner">
    <div class="logo">
      <div class="my-box flex-grow-1"><%= link_to '大学 Life', professors_path, method: :get, class: "header-title" %></div>
    </div>
    <nav class="header-nav">
      <div class="header-nav-item">
        <div class="header-post"><%= link_to "#{current_professor.name_p} 教授", edit_professor_registration_path, class: 'user-nickname' %></li></div>
      </div>
      <div class="header-nav-item">
        <div class="header-logout"><%= link_to 'ログアウト', destroy_professor_session_path, method: :delete, class: 'logout' %></div>
      </div>
    </nav>
  </div>
</header>
</div>
