<div class="subject-new">
 <div>大学名</div>
  <div>学部</div>
  <div>学科</div>
<div>教材の登録をしてください</div>
<%#= form_with '#', local: ture do |f| %>
  <div>何回生</div>
  <div>時期</div>
  <div>教材名</div>
  <div>単位</div>
  <div>科目</div>
  <div>曜日</div>
  <div>何限</div>
  <div>結果</div>
  <div>単位合計</div>
<%# end %>
</div>