<h1>講義詳細</h1>

<div class='lecture-details'>

<%= link_to '講義更新', new_lecture_lecture_detail_path(@lecture.id) %>
<br>
<%= @lecture.lecture_title %>
<br>
<%= image_tag @lecture.lecture_image.variant(resize: '300x300'), class: 'professor_image' if @lecture.lecture_image.attached? %>
<br>
<%= @lecture.contents %>

</div>