// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.answer-text-area{
  width: 800px;
  height: 100px;
}

.answer-title{
  font-size: 40px;
}

.answer-text{
  width: 800px;
}

.answer-text-area-edit{
  width: 800px;
  height: 500px;
}