.header-3 {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  height: 60px;
  padding: 0 0.8em;
  margin: 0 auto;
  font-size: 1.2em;
}

.header-title{
  font-size: 60px;
}

.header-nav {
  display: flex;
  align-items: center;
  list-style: none;
}

.header-nav-item {
  display: flex;
  align-items: center;
  margin-left: 16px;
  list-style: none;
}

.logo img {
  width: 70px;
}

.header-logout {
  color: #999;
}

.header-post {
  font-weight: bold;
  color: #fff;
  border-radius: 3px;
  list-style: none;
}
