// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//トップページ
.top-page{
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url('top_page.jpg');
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:soft-light;
}

.top-page-name{
  font-size: 80px;
  color: #DA8E00;
  background: -webkit-linear-gradient(-45deg, #F7DE05, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03, #DA8E00, #EDAC06, #F7DE05, #ECB802, #EDAC06);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.top-page-list{
  border-width: 4px;
  text-decoration: none;
  border-style: double dotted solid ridge;
  padding: 18px 32px;
  font-size: 1.375rem;
  background: #0bd;
  color: #fff;
  border-radius: 5px;
}