// Place all the styles related to the submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.submisstion-text{
  margin: 0px 500px;
}

.submisstion-box{
  border: 3px solid black;
  margin-top: 5px;
}